<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>标签管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>标签列表</em></span>
   </div>
  
  <table class="list-style">
   <tr>
    <th>标签名称</th>
    <th>是否应用</th>
    <th>操作</th>
   </tr>
   <tr>
    <td class="center">1</td>
    <td class="center">盘</td>
    <td class="center"><img src="images/yes.gif"/></td>
    <td class="center"><input type="text" value="0" style="width:50px;text-align:center;"/></td>
    <td class="center"><a class="block" title="移除"><img src="images/icon_trash.gif"/></a></td>
   </tr>
  </table>
  
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <!-- turn page -->
	  <div class="turnPage center fr">
	   <a>第一页</a>
	   <a>1</a>
	   <a>最后一页</a>
	  </div>
  </div>
 </div>
</body>
</html>