<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>我要点餐</title>

    <script type="text/javascript" src="js/jquery.js"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/css.css" rel="stylesheet">
    <link href="css/chosen.css" rel="stylesheet">
    <link href="favicon.ico" rel="SHORTCUT ICON">


    <!--
    Author: DeathGhost
    Author URI: http://www.deathghost.cn
    -->
    <style>
        .inforlist {
            width: auto;
            height: auto;
            overflow: hidden;
            padding: 8px 0;
        }
        .inforlist .Sum_infor .p2 span {
            font-size: 24px;
            font-weight: bold;
            color: #F00;
        }
    </style>
</head>
<style type="text/css">
    .clearfix .logo{ width:260px; height:74px; background:url(../img/logo.png) no-repeat center;background-size: 170px;  position:absolute; left:170px;top:-10px; z-index:100;}
</style>
<body>
<header>
</header>
<div class="head">
    <div class="wrap clearfix">
        <a href="index" class="logo indent">logo</a>
        <div class="headr fr"  >
            <form action="active.html" method="post" class="headsearch" style="position:relative;left: -400px;">
                <label class="label">
                    <input type="text" value="" name="" class="key">
                    <span class="text" style="position: relative;left: -320px;">搜索地址、名称等</span>
                </label>
                <button type="submit" class="button btn-search">&#xe628;</button>
            </form>
        </div>
        <!--未登录-->
        <div class="medium-right" th:if="${session.islogin==false}"  style="position: absolute;right: 200px;top: 25px;"><a href="login" style="position: relative; right: 100px;">立即登陆</a><a href="reg" style="position: relative; right: 50px;">注册</a><a href="http://localhost:8088/login">商家中心</a></div>
        <!--已登录-->
        <div class="headr fr" style="position: relative;left: 400px;" th:if="${session.islogin==true}">
            <a href="http://localhost:8088/login" target="voiceList">  &nbsp;&nbsp;商家中心</a>
            <div class="user">
          <span class="clearfix" ><span class="userimg"><img src="upload/img12.png"><i></i></span>
          <a href="javascript:;" class="fr" target="voiceList" style="position: absolute;left: 55px;width: 150px;" th:text="${session.member.username}">设计--麻<em>&#xe607;</em></a></span>
                <ul class="topslide" style="position: absolute; left: 30px;">
                    <li><em>&#xe627;</em><a href="mem.html" target="voiceList">个人设置</a></li>
                    <li><em>&#xe63d;</em><a href="Message.html" target="voiceList">消息中心<s></s></a></li>
                    <li><em>&#xe63c;</em><a href="Dinner.html" target="voiceList">订单管理</a></li>
                    <li><em>&#xe63e;</em><a href="fans.html" target="voiceList">我的好友</a></li>
                    <li><em>&#xe611;</em><a href="logout" target="voiceList">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Start content-->
<div class="container" style="height: 1000px">
    <div class="row" style="height: 330px ;">
        <div class="col-md-3">
            <td><img th:src="${merchantFea.img1}" style="width: 300px;height: 300px"></td>
            <input th:value="${merchantFea.merchantId}" type="hidden" id="pay">
        </div>
        <div class="col-md-6 col-md-offset-2" style="margin-top: 20px">
            <font size="30px" style="color: #0b2e13" th:text="${merchantPro.merchantName}"></font><br/><br/>
            <font style="color: #6c757d;" th:text="${merchantFea.intro}"></font><br>
            <p >店家热度：<font  style="color: #74d2d9;font-size: 25px" th:text="${merchantPro.heat}"></font></p><br>
            <p >经营时间段：<font style="color: #74d2d9;size: 22px" th:text="${merchantPro.bussinesstime}"></font></p><br>
            <p size="25px" style="color: #0b2e13;size: 22px">此店特色：<span size="30px" style="color: red" th:text="${merchantFea.feature}"></span></p><br>
        </div>
    </div>
    <br>
    <div class="inforlist" style="height: 700px">
        <span class="flow_title" style="color: #0066ff ;size: 25px"><h2>您的菜单</h2></span>
        <div style="overflow: auto; border-color: #9fcdff ;height: 400px">
            <table class="table table-hover">
                <tr>
                    <th>图片</th>
                    <th>菜名</th>
                    <th>价格</th>
                    <th>库存</th>
                    <th>标签</th>
                    <th>热度</th>
                </tr>
                <tr th:each="am:${allMemu}">
                    <td><img th:src="${am.img1}" style="width: 50px;height: 50px"></td>
                    <td th:text="${am.dishId}"></td>
                    <td><font style="color: red;size: 20px" th:text="${am.dishPrice}"></font></td>
                    <td th:text="${am.invent}"></td>
                    <td th:text="${am.label}"></td>
                    <td th:text="${am.heat}" ></td>
                </tr>
            </table>
        </div>
        <div style="height: 300px;border-color: antiquewhite">
            <p class="p2">合计：<span>￥<font color="red" size="23px" th:text="${indent.price}">元</font></span></p>
            <input type="hidden" id="dingPrice" th:value="${indent.dingprice}">
            <button id="button1" class="btn btn-primary" onclick="pay()">确定支付</button>
            <button id="button2" class="btn btn-success" onclick="noPay()">我想再看看</button>
        </div>
    </div>
</div>
</div>
<div class="footmenu">
    <div class="wrap clearfix">
        <div class="item bd0">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="item">
            <h1 class="hd">产品理念</h1>
            <ul>
                <li><a href="#">食品安全</a></li>
                <li><a href="#">订购流程</a></li>
                <li><a href="#">修改订单</a></li>
                <li><a href="#">冷链配送</a></li>
                <li><a href="#">全程冷链</a></li>
            </ul>
        </div>
        <div class="fr">
            <img src="images/img2.jpg">
            <img src="images/img3.jpg">
        </div>
    </div>
    <div class="gotop">&#xe608;</div>
</div>
<div class="foot tc">Copyright © 2003-2015 17素材, All Rights Reserved</div>
</body>
<script type="text/javascript">
    function noPay() {
        var merchantId=$("#pay").val();
        location.href="findShop1?merchantId="+merchantId;
    }
    function pay(){
        var merchantId=$("#pay").val();
        location.href="findShop1?merchantId"+merchantId
    }
    $("#button1").click(function () {
        var dingPrice = $("#dingPrice").val();
        var mymessage = confirm("想要提交订单吗？需要交"+dingPrice+"元订金哟！！");
        if (mymessage == true) {
            return true;
        } else {
            return false;
        }
    })


</script>
</html>
