<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="mezz">
<meta name="author" content="mezz">
<link href="css/css.css" rel="stylesheet">
<link href="css/chosen.css" rel="stylesheet">
<link href="css/slick.css" rel="stylesheet">
<!--[if lt IE 9]>
    <link href="css/ie.css" rel="stylesheet" type="text/css" >
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
<![endif]-->
<!--[if lte IE 6]><meta http-equiv="refresh" content="0;url=IE6/IE6.html"><![endif]-->
<link href="favicon.ico" rel="SHORTCUT ICON">
  <link href="style/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="js/public.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jqpublic.js"></script>
  <script type="text/javascript" src="js/cart.js"></script>
  <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
<title>私厨 - 为你推荐遍布全球最新鲜，最与众不同的顶级生活方式</title>
</head>
<style type="text/css">
  .clearfix .logo{ width:260px; height:74px; background:url(../img/logo.png) no-repeat center;background-size: 170px;  position:absolute; left:170px;top:-10px; z-index:100;}

</style>
<body>
<div class="head">
  <div class="wrap clearfix">
    <a href="index" class="logo indent">logo</a>
    <div class="headr fr"  >
      <form action="active.html" method="post" class="headsearch" style="position:relative;left: -400px;">
        <label class="label">
          <input type="text" value="" name="" class="key">
          <span class="text">搜索地址、名称等</span>
        </label>
        <button type="submit" class="button btn-search">&#xe628;</button>
      </form>
    </div>
      <!--未登录-->
      <div class="medium-right" th:if="${session.islogin==false}"  style="position: absolute;right: 200px;top: 25px;"><a href="login" style="position: relative; right: 100px;">立即登陆</a><a href="reg" style="position: relative; right: 50px;">注册</a><a href="http://localhost:8088/login">商家中心</a></div>
      <!--已登录-->
    <div class="headr fr" style="position: relative;left: 400px;" th:if="${session.islogin==true}">
      <a href="http://localhost:8088/login" target="voiceList">  &nbsp;&nbsp;商家中心</a>
      <div class="user">
          <span class="clearfix" ><span class="userimg"><img src="upload/img12.png"><i></i></span>
          <a href="javascript:;" class="fr" target="voiceList" style="position: absolute;left: 55px;width: 150px;" th:text="${session.member.username}"><em>&#xe607;</em></a></span>
        <ul class="topslide" style="position: absolute; left: 30px;">
          <li><em>&#xe627;</em><a href="mem.html" target="voiceList">个人设置</a></li>
          <li><em>&#xe63d;</em><a href="Message.html" target="voiceList">消息中心<s></s></a></li>
          <li><em>&#xe63c;</em><a href="Dinner.html" target="voiceList">订单管理</a></li>
          <li><em>&#xe63e;</em><a href="fans.html" target="voiceList">我的好友</a></li>
          <li><em>&#xe611;</em><a href="logout" target="voiceList">退出</a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>

<section class="Shop-index">
  <article>
    <div class="shopinfor" th:each="s:${strings}">
      <div class="title">
        <img th:src="${s.merchantFeature.img1}" class="shop-ico">
        <span th:text="${s.merchantName}"></span>
        <span>
     <img src="images/star-on.png">
     <img src="images/star-on.png">
     <img src="images/star-on.png">
     <img src="images/star-on.png">
     <img src="images/star-off.png">
    </span>
        <span>4.8</span>
      </div>
      <div class="imginfor">
        <div class="shopimg">
          <img th:src="${s.merchantFeature.img1}" id="showimg">
          <ul class="smallpic">
            <li><img th:src="${s.merchantFeature.img1}" onmouseover="show(this)" onmouseout="hide()"></li>
            <li><img th:src="${s.merchantFeature.img2}" onmouseover="show(this)" onmouseout="hide()"></li>
            <li><img th:src="${s.merchantFeature.img3}" onmouseover="show(this)" onmouseout="hide()"></li>
          </ul>
        </div>
        <div class="shoptext">
          <p><span>地址：</span><span th:text="${s.merchantAddress}" style="font-weight:normal;"></span></p>
          <p><span>电话：</span><span th:text="${s.phone}" style="font-weight:normal;"></span></p>
          <p><span>优惠活动：</span>暂无信息</p>
          <p><span>停车位：</span>4个停车位（免费）</p>
          <p><span>营业时间：</span><span th:text="${s.bussinesstime}" style="font-weight:normal;"></span></p>
          <p><span>WIFI：</span>免费WIFI</p>
          <p><span>价格：</span><span th:text="${s.personPrice}" style="font-weight:normal;"></span>元/人</p>
          <div class="Button">
            <a th:href="@{findMerchand(merchantId=${s.merchantId})}"><span class="DCbutton">查看菜谱点菜</span></a>
          </div>
          <div class="otherinfor">
            <a href="#" class="icoa"><img src="images/collect.png">收藏店铺（1293）</a>
            <div class="bshare-custom"><a title="分享" class="bshare-more bshare-more-icon more-style-addthis">分享</a></div>
            <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
          </div>
        </div>
      </div>  
      <div class="shopcontent" style="height: 360px;">
        <div class="title2 cf">
          <ul class="title-list fr cf ">
            <li class="on">菜谱</li>
            <li>累计评论（5）</li>
            <li>商家详情</li>
            <li>店铺留言</li>
            <p><b></b></p>
          </ul>
        </div>
        <div class="menutab-wrap">
          <a name="ydwm">
            <!--case1-->
            <div class="menutab show" >
              <ul class="products">

                <li th:each="d:${dish}">
                  <a  th:href="@{findMerchand(merchantId=${s.merchantId})}" target="_blank" title="酸辣土豆丝">
                    <img th:src="${d.img1}" class="foodsimgsize">
                  </a>
                  <a th:href="@{findMerchand(merchantId=${s.merchantId})}" class="item">
                    <div>
                      <p th:text="${d.dishId}"></p>
                      <p class="AButton">拖至购物车:￥<p th:text="${d.dishPrice}">.00</p></p>
                    </div>
                  </a>
                </li>
                <div class="TurnPage">
                  <a href="#">
                    <span class="Prev"><i></i>首页</span>
                  </a>
                  <a href="#"><span class="PNumber">1</span></a>
                  <a href="#"><span class="PNumber">2</span></a>
                  <a href="#">
                    <span class="Next">最后一页<i></i></span>
                  </a>
                </div>
              </ul>
            </div>
          </a>
          <!--case2-->
          <div class="menutab">
            <div class="shopcomment">
              <div class="Spname">
                <a href="#" target="_blank" title="酸辣土豆丝">酸辣土豆丝</a>
              </div>
              <div class="C-content">
                <q>还不错，速度挺快,还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快。。。</q>
                <i>2014年09月17日 19:36 </i>
              </div>
              <div class="username">
                DeatGhost
              </div>
            </div>
          </div>
          <!--case4-->
          <div class="menutab">
            <div class="shopdetails">
              <div class="shopmaparea">
                <iframe src="map2"   width="440" height="302" frameborder="0" scrolling="no"  ></iframe></div>
                <div class="shopdetailsT">
                  <p><span>店铺：</span><span th:text="${s.merchantName}" style="font-weight:normal;"></span></p>
                  <p><span>地址：</span><span th:text="${s.merchantAddress}" style="font-weight:normal;"></span></p>
                  <p><span>电话：</span><span th:text="${s.phone}" style="font-weight:normal;"></span></p>
                  <p><span>营业时间：</span><span th:text="${s.bussinesstime}" style="font-weight:normal;"></span></p>
                  <p><span>店铺介绍：</span><span th:text="${s.merchantFeature.intro}" style="font-weight:normal;"></span></p>
                </div>
              </div>

            </div>
          </div>
          <!--case5-->
          <div class="menutab">
            <span class="Ask"><i>DeathGhost</i>:这里是测试问答？</span>
            <span class="Answer"><i>管理员回复</i>：这里是测试回答！</span>

            <div class="TurnPage">
              <a href="#">
                <span class="Prev"><i></i>首页</span>
              </a>
              <a href="#"><span class="PNumber">1</span></a>
              <a href="#"><span class="PNumber">2</span></a>
              <a href="#">
                <span class="Next">最后一页<i></i></span>
              </a>
            </div>

            <form class="A-Message" action="#">
              <p><i>姓名：</i><input name="usr_name" type="text" autofocus placeholder="张三" required></p>
              <p><i>手机：</i><input name="" type="text" placeholder="15825518***" pattern="[0-9]{11}" required></p>
              <p><i>邮件：</i><input type="email" name="email" autocomplete="off" placeholder="admin@admin.com" required/></p>
              <p><i>问题补充：</i><textarea name="" cols="" rows="" required placeholder="详细说明您的问题..."></textarea></p>
              <p><input type="submit" class="Abutt" /></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </article>
  <aside>
    <div class="cart" id="Topcart">
      <span class="Ctitle Block FontW Font14"><a href="cart.html" target="_blank">我的订单</a></span>
      <table id="cartcontent" fitColumns="true">
        <thead>
        <tr>
          <th style="width: 33%;"  align="center" field="name">店铺</th>
          <th style="width: 33%;"  align="center" field="quantity">数量</th>
          <th style="width: 33%;"  align="center" field="price">价格</th>
        </tr>
        </thead>
      </table>
      <p class="Ptc"><span class="Cbutton"><a  target="进入购物车">添加订单</a></span><span class="total">共计金额: ￥0</span></p>
    </div>

    <div class="Nearshop">
      <span class="Nstitle">附近其他店铺</span>
      <ul>
        <li>
          <img src="upload/cc.jpg">
          <p>
            <span class="shopname" title="动态调用完整标题"><a href="detailsp.html" target="_blank" title="肯德基">肯德基</a></span>
            <span class="Discolor">距离：1.2KM</span>
            <span title="完整地址title">地址：西安市雁塔区2000号...</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="History">
      <span class="Htitle">浏览历史</span>
      <ul>
        <li>
          <a href="detailsp.html" target="_blank" title="清真川菜馆"><img src="upload/cc.jpg"></a>
          <p>
            <span class="shopname" title="动态调用完整标题"><a href="detailsp.html" target="_blank" title="正宗陕北小吃城">正宗陕北小吃城</a></span>
            <span>西安市莲湖区土门十西安市莲湖区土门十字西安市莲湖区土门十字.</span>
          </p>
        </li>
        <span>[ <a href="#">清空历史记录</a> ]</span>
      </ul>
    </div>
  </aside>

</section>

<div class="message wrap mt20">
  <div class="label"><em></em>留言交流</div>
  <div class="pd30">
    <div class="plmain bg-w bd0 mt30">
      <div class="plm tr"><a href="#" class="c999" style="text-decoration:none"><em class="myfont f20">&#xe61b;</em>12</a></div>
      <div class="textarea_input"><textarea id="TextArea1"  style="background:#f9f9f9;" ></textarea></div>
      <div class="tool_submit tr"><button type="button" name="" value="" class="button sublist">留 言</button></div>
    </div>
 
   <div class="plmcomment mt20">
        <ul class="comment-list">
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
          <li class="np-post">
            <a href="home.html" class="fans img"><img src="upload/img12.png"></a>
            <div class="post-body">
              <div class="post-header clearfix">
                <a href="home.html" class="name">兜帽家的豆豆</a><span class="user-level"><em></em><em></em><em></em></span> 18分钟前<span class="reply"><em class="myfont">&#xe640;</em><a href="javascript:;"> 回复</a></span>
              </div>
              <div class="post-content">小编听闻你差一步就报名成功第24期体验了，9成的精力已经付出，开启生活另一种可能的机会就藏在最后1成时间里，如遇到任何问题，可以发私信给我哦，我会第一时间回复你的！</div>
            </div>
          </li>
        </ul>
        <!--Pagination-->
        <div class="page mt20 clearfix"><a href="#" class="prev"><em></em>上一页</a><span>1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a>...<a href="#">23</a><a href="#" class="next">下一页<em></em></a></div>
  </div>
 </div>
</div>


<div class="footmenu">
    <div class="wrap clearfix">
      <div class="item bd0">
        <h1 class="hd">产品理念</h1>
        <ul>
          <li><a href="#">食品安全</a></li>
          <li><a href="#">订购流程</a></li>
          <li><a href="#">修改订单</a></li>
          <li><a href="#">冷链配送</a></li>
          <li><a href="#">全程冷链</a></li>
        </ul>
      </div>
      <div class="item">
        <h1 class="hd">产品理念</h1>
        <ul>
          <li><a href="#">食品安全</a></li>
          <li><a href="#">订购流程</a></li>
          <li><a href="#">修改订单</a></li>
          <li><a href="#">冷链配送</a></li>
          <li><a href="#">全程冷链</a></li>
        </ul>
      </div>
      <div class="item">
        <h1 class="hd">产品理念</h1>
        <ul>
          <li><a href="#">食品安全</a></li>
          <li><a href="#">订购流程</a></li>
          <li><a href="#">修改订单</a></li>
          <li><a href="#">冷链配送</a></li>
          <li><a href="#">全程冷链</a></li>
        </ul>
      </div>
      <div class="item">
        <h1 class="hd">产品理念</h1>
        <ul>
          <li><a href="#">食品安全</a></li>
          <li><a href="#">订购流程</a></li>
          <li><a href="#">修改订单</a></li>
          <li><a href="#">冷链配送</a></li>
          <li><a href="#">全程冷链</a></li>
        </ul>
      </div>
      <div class="fr">
        <img src="images/img2.jpg">
        <img src="images/img3.jpg">
      </div>
    </div>
    <div class="gotop">&#xe608;</div>
  </div>
<div class="foot tc">Copyright © 2003-2015 17素材, All Rights Reserved</div>  

<script src="js/jquery.js"></script>
<script src="js/Action.js"></script>
<script src="js/slick.js"></script>
<script>
$(function(){
	$('.detail-banner').slick({
		dots: true,
		infinite: true,
		speed: 500,
		fade: true,
		autoplay: true,
		cssEase: 'linear'
	});
  $('.regster').slick({
		dots: false,
		slidesToShow: 6,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 2000,
	});
})

$(function(){
  $('.title-list li').click(function(){
    var liindex = $('.title-list li').index(this);
    $(this).addClass('on').siblings().removeClass('on');
    $('.menutab-wrap div.menutab').eq(liindex).fadeIn(150).siblings('div.menutab').hide();
    var liWidth = $('.title-list li').width();
    $('.shopcontent .title-list p').stop(false,true).animate({'left' : liindex * liWidth + 'px'},300);
  });

  $('.menutab-wrap .menutab li').hover(function(){
    $(this).css("border-color","#ff6600");
    $(this).find('p > a').css('color','#ff6600');
  },function(){
    $(this).css("border-color","#fafafa");
    $(this).find('p > a').css('color','#666666');
  });
});
var mt = 0;
window.onload = function () {
  var Topcart = document.getElementById("Topcart");
  var mt = Topcart.offsetTop;
  window.onscroll = function () {
    var t = document.documentElement.scrollTop || document.body.scrollTop;
    if (t > mt) {
      Topcart.style.position = "fixed";
      Topcart.style.margin = "";
      Topcart.style.top = "200px";
      Topcart.style.right = "191px";
      Topcart.style.boxShadow ="0px 0px 20px 5px #cccccc";
      Topcart.style.top="0";
      Topcart.style.border="1px #636363 solid";
    }
    else {
      Topcart.style.position = "static";
      Topcart.style.boxShadow ="none";
      Topcart.style.border="";
    }
  }
}
</script>
</body>
</html>