<!doctype html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="mezz">
<meta name="author" content="mezz">
<link href="css/css.css" rel="stylesheet">
<link href="css/chosen.css" rel="stylesheet">
<!--[if lt IE 9]>
    <link href="css/ie.css" rel="stylesheet" type="text/css" >
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
<![endif]-->
<!--[if lte IE 6]><meta http-equiv="refresh" content="0;url=IE6/IE6.html"><![endif]-->
<link href="favicon.ico" rel="SHORTCUT ICON">
<title>17素材·私厨 - 为你推荐遍布全球最新鲜，最与众不同的顶级生活方式</title>
</head>
<style type="text/css">
  .clearfix .logo{ width:260px; height:74px; background:url(../img/logo.png) no-repeat center;background-size: 170px;  position:absolute; left:170px;top:-10px;  z-index:100;}
</style>
<body>
<div class="head">
  <div class="wrap clearfix">
    <a href="index" class="logo indent">logo</a>
    <div class="headr fr">
      <form action="active.html" method="post" class="headsearch">
        <label class="label">
          <input type="text" value="" name="" class="key">
          <span class="text">搜索地址、名称、时间等</span>
        </label>
        <button type="submit" class="button btn-search">&#xe628;</button>
      </form>
      <a href="login">登录</a><a href="reg">注册</a><a href="http://localhost:8088/login">商家中心</a>
    </div>
  </div>
</div>
<div class="loginwrapper">
  <div class="wrap pr">
    <div class="loginbox">
      <h1 class="hd">用户注册</h1>
      <div class="tc" style="margin-top:-10px;"><img src="images/regtxt.png"></div>
      <div class="boxbd mt20">
        <label class="label">
          <input type="text" name="username" id="username" class="loginipt key Nickname" placeholder="请输入您的账户昵称"  autocomplete="off">
          <span class="text" id="sp1"></span>
        </label>
        <label class="label">
          <input type="password" name="password" id="password" class="loginipt key pwd" placeholder="请输入您的密码"  autocomplete="off">
          <span class="text" id="sp2"></span>
        </label>
        <label class="label">
          <input type="email" name="email" id="email"  class="loginipt key user" placeholder="请输入您的邮箱"  autocomplete="off">
<!--          <button id="butt1">发送验证码</button>-->
          <span class="text" id="sp3"></span>
        </label>
<!--        <label class="label">-->
<!--          <input type="text" name="user" id="emailCode" value="" class="loginipt key user" placeholder="请输入您收到邮箱验证码"  autocomplete="off">-->
<!--          <span class="text" id="sp4"></span>-->
<!--        </label>-->
        <button type="submit" name="login" value="" class="button btn-reg" id="regMember">立即注册</button>
        <p class="mt20 tc">注册则表示同意<a href="#" class="o">《会员条款》</a></p>
        <div class="ohter"><span class="ohtertxt">或</span></div>
        <div class="Prompt" style="padding:0 0 10px">使用以上社交网络帐号登录</div>
      </div>
      <p class="boxbd tr">已有帐号？<a href="reg" class="o">注册</a></p>
    </div>    
  </div>
</div>
<div class="foot2">
  <div class="wrap clearfix">
    <div class="txt fl">
     <div class="foot-nav"> <a href="#">关于菜鸟联盟餐饮</a>/<a href="#">加入我们</a>/<a href="#">联系我们</a>/<a href="#">媒体报道</a>/<a href="#">会员条款</a>/<a href="#">版权声明</a></div>
     Copyright © 2003-2015 , All Rights Reserved　
    </div>
    <div class="orc fr"><img src="images/img2.jpg" width="63"><img src="images/img3.jpg" width="63"></div>
  </div>
</div>
</body>
<script src="js/jquery.js"></script>
<script src="js/Action.js"></script>
<script type="text/javascript">
  $(function () {
    $("#butt1").click(function () {
      var email = $("#email").val();
      alert(email)
      $.post("sendEmailCode",{"email":email},function (data) {
        if (data == true){
          alert("此用邮箱已被使用，请重新输入");
        }
      })
    })
    $("#regMember").click(function () {
      var username = $("#username").val();
      var password = $("#password").val();
      var email = $("#email").val();
      // var emailCode = $("#emailCode").val();

      if (username.length == 0 || password.length == 0 || email.length == 0 ){
        alert("请填写完整资料")
      } else {
        alert("去注册")
        $.post("regMember",{"username":username ,"password":password ,"email":email },function (data) {
          if (data == 1){
            alert("已有人在您的前面注册了此用户名")
          } else if (data == 2){
            alert("已有人在您前面使用此邮箱进行了注册");
          } else if (data == 3){
            alert("注册成功。。为您跳转首页");
            location.href = "index";
          } else {
            alert("注册失败")
          }
        })
      }
    })
    $("#username").blur(function () {
      var username = $("#username").val();
      if (username.length == 0) {
        var ff = $("<font color='red'>此账号不能为空</font>")
        $("#sp1").append(ff);
      }else {
        //  判断是否可用
        $.post("findMemberByUsername",{"username":username},function (data) {
                  if (data == true){
                    alert("此用户名已被使用，请重新输入");
                  }
                }
        )
      }
    })
    $("#username").focus(function () {
      $("#sp1").empty();
      $("#sp2").empty();
      $("#sp3").empty();
      $("#sp4").empty();
    })

    //判断密码
    $("#password").blur(function () {
      var password = $("#password").val();
      if (password.length == 0) {
        var ff = $("<font color='red'>密码不能为空</font>")
        $("#sp2").append(ff);
      }else {
        //  正则判断是否可用
      }
    })
    $("#password").focus(function () {
      $("#sp1").empty();
      $("#sp2").empty();
      $("#sp3").empty();
      $("#sp4").empty();
    })
    //判断邮箱
    $("#email").blur(function () {
      var email = $("#email").val();
      if (email.length == 0) {
        var ff = $("<font color='red'>邮箱不能为空</font>")
        $("#sp3").append(ff);
      }else {
        //  判断是否可用 邮箱是否已经被注册  可以则发送验证码
        $.post("findMemberByEmail",{"email":email},function (data) {
                  if (data == true){
                    alert("此用户名已被使用，请重新输入")
                  }
                }
        )
      }
    })
    $("#email").focus(function () {
      $("#sp1").empty();
      $("#sp2").empty();
      $("#sp3").empty();
      $("#sp4").empty();
    })

    // // 判断邮箱验证码
    // $("#emailCode").blur(function () {
    //   var emailCode = $("#emailCode").val();
    //   var email = $("#email").val();
    //   if (email.length == 0) {
    //     var ff = $("<font color='red'>邮箱不能为空</font>")
    //     $("#sp4").append(ff);
    //   }else {
    //     //  判断是否可用 邮箱是否已经被注册  可以则发送验证码
    //   }
    //   if (emailCode.length == 0) {
    //     var ff = $("<font color='red'>验证码不能为空</font>")
    //     $("#sp4").append(ff);
    //   }else {
    //     //  判断是否可用 判断是否正确
    //   }
    // })
    // $("#emailCode").focus(function () {
    //   $("#sp1").empty();
    //   $("#sp2").empty();
    //   $("#sp3").empty();
    //   $("#sp4").empty();
    // })
  })
</script>

</html>